<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.jendrik.moerder" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <permission
        android:name="com.example.gcm.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.example.gcm.permission.C2D_MESSAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name=".GUI.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:launchMode="singleTop"
        android:supportsRtl="true"
        android:theme="@style/mordThemeNotTurn"
        >
        <service android:name=".FCM.MyFirebaseInstanceIDService" >
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".FCM.MyFcmListenerService" >
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".GUI.Startscreen"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/mordThemeNotTurn" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".GUI.Join.JoinGame"
            android:label="Search for a game..." />
        <activity
            android:name=".GUI.Host.CreateGame"
            android:label="@string/txt_create_game" />
        <activity
            android:name=".GUI.Host.RoomNameList"
            android:label="@string/txt_create_game"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name=".GUI.Host.WeaponNameList"
            android:label="@string/txt_create_game"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name=".GUI.Host.GivenQrCodes"
            android:label="@string/txt_attach_qrcodes"
            android:windowSoftInputMode="adjustPan"/>
        <activity android:name=".GUI.Host.STUB" />
        <activity
            android:name=".GUI.Host.popupGivenQrCodes"
            android:theme="@style/AppTheme.PopUpTheme" />
        <activity android:name=".QR.QRHandler" />
        <activity
            android:name=".GUI.Host.WaitForPlayers"
            android:label="@string/txt_wait_for_players" />
        <activity android:name=".GUI.OnGamingClasses.MenueDrawer"
            />
        <activity android:name=".GUI.LittleHelpers.ProsecutionHelpers.ProsecutionWaitingForPlayers" />
        <activity
            android:name=".GUI.LittleHelpers.PopUpNobodyHasCards"
            android:theme="@style/AppTheme.PopUpTheme" />
        <activity
            android:name=".GUI.LittleHelpers.PopUpPlayerShowsCard"
            android:theme="@style/AppTheme.PopUpTheme" />
        <activity android:name=".GUI.OnGamingClasses.WinScreen" />
        <activity android:name=".GUI.OnGamingClasses.LooseScreen" />
        <activity android:name=".GUI.OnGamingClasses.STUB_SCANNER" />
        <activity
            android:name=".GUI.Join.PopUpEnterName"
            android:theme="@style/AppTheme.PopUpTheme" />
        <activity
            android:name=".GUI.Join.PopUpEnterPassword"
            android:theme="@style/AppTheme.PopUpTheme" />
        <activity android:name=".GUI.Join.WaitForServer" />
    </application>

</manifest>