<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.jendrik.moerder" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application

        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:name=".GUI.MyApplication"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <service android:name=".FCM.MyFirebaseInstanceIDService" >
        <intent-filter>
            <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
        </intent-filter>
        </service>
        <service android:name=".FCM.MyFcmListenerService" >
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <activity
            android:name=".GUI.Startscreen"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/AppTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".GUI.Host.CreateGame"
            android:label="@string/txt_create_game" />
        <activity
            android:name=".GUI.Host.RoomNameList"
            android:label="@string/txt_create_game" />
        <activity
            android:name=".GUI.Host.WeaponNameList"
            android:label="@string/txt_create_game" />
        <activity
            android:name=".GUI.Host.GivenQrCodes"
            android:label="@string/txt_attach_qrcodes" />
        <activity android:name=".GUI.Host.STUB" />
        <activity
            android:name=".GUI.Host.popupGivenQrCodes"
            android:theme="@style/AppTheme.PopUpTheme" />
        <activity android:name=".QR.QRHandler" />
        <activity
            android:name=".GUI.Host.WaitForPlayers"
            android:label="@string/txt_wait_for_players" />
        <activity
            android:name=".GUI.OnGamingClasses.MenueDrawer"
            android:theme="@style/ThemeWithDrawer" />
        <activity android:name=".GUI.LittleHelpers.PopUpNobodyHasCards" />
        <activity android:name=".GUI.LittleHelpers.PopUpPlayerShowsCard" />
        <activity android:name=".GUI.OnGamingClasses.WinScreen" />
        <activity android:name=".GUI.OnGamingClasses.LooseScreen" />
        <activity android:name=".GUI.OnGamingClasses.STUB_SCANNER" />
    </application>

</manifest>